<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Feedback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FeedbackLogin</servlet-name>
    <servlet-class>FeedbackLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackDetails</servlet-name>
    <servlet-class>FeedbackDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackDetails</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>addStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addFaculty</servlet-name>
    <servlet-class>addFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFaculty</servlet-name>
    <url-pattern>/addfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFaculty</servlet-name>
    <servlet-class>deleteFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFaculty</servlet-name>
    <url-pattern>/deletefaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>deleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addFaculty1</servlet-name>
    <servlet-class>addFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFaculty1</servlet-name>
    <url-pattern>/addFaculty/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFaculty1</servlet-name>
    <servlet-class>deleteFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFaculty1</servlet-name>
    <url-pattern>/deleteFaculty/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>changePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgotPassword</servlet-name>
    <servlet-class>forgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgotPassword1</servlet-name>
    <servlet-class>forgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword1</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeSemester</servlet-name>
    <servlet-class>changeSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeSemester</servlet-name>
    <url-pattern>/changesemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSubject</servlet-name>
    <servlet-class>addSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSubject</servlet-name>
    <url-pattern>/addsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubject</servlet-name>
    <servlet-class>deleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubject</servlet-name>
    <url-pattern>/deletesubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubject1</servlet-name>
    <servlet-class>deleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubject1</servlet-name>
    <url-pattern>/deleteSubject/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signout</servlet-name>
    <servlet-class>FeedbackLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subjectWise</servlet-name>
    <servlet-class>subjectWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subjectWise</servlet-name>
    <url-pattern>/subjectWise/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminsignout</servlet-name>
    <servlet-class>signOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminsignout</servlet-name>
    <url-pattern>/adminsignout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FacultyWise</servlet-name>
    <servlet-class>facultyWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyWise</servlet-name>
    <url-pattern>/facultyWise/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteBatch</servlet-name>
    <servlet-class>deleteBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBatch</servlet-name>
    <url-pattern>/deletebatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>grantPermission</servlet-name>
    <servlet-class>grantPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>grantPermission</servlet-name>
    <url-pattern>/grantpermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showuser</servlet-name>
    <servlet-class>Showuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showuser</servlet-name>
    <url-pattern>/showuser/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>Showuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteUser1/*</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>deleteuser1</servlet-name>
    <servlet-class>deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser1</servlet-name>
    <url-pattern>/deleteUSER</url-pattern>
  </servlet-mapping>
</web-app>